<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Panth_HeroSlider::sliders" title="Hero Sliders" sortOrder="20">
                        <resource id="Panth_HeroSlider::slider_save" title="Save Sliders"/>
                        <resource id="Panth_HeroSlider::slider_delete" title="Delete Sliders"/>
                        <resource id="Panth_HeroSlider::slides" title="Hero Slides">
                            <resource id="Panth_HeroSlider::slide_save" title="Save Slides"/>
                            <resource id="Panth_HeroSlider::slide_delete" title="Delete Slides"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Panth_HeroSlider::config" title="Panth Hero Slider Config"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
