<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Panth_HeroSlider::group"
             title="Hero Slider"
             module="Panth_HeroSlider"
             sortOrder="50"
             parent="Panth_Core::panth_extensions"
             resource="Panth_HeroSlider::sliders"/>
        <add id="Panth_HeroSlider::sliders"
             title="Manage Sliders"
             module="Panth_HeroSlider"
             sortOrder="10"
             parent="Panth_HeroSlider::group"
             action="panth_heroslider/slider/index"
             resource="Panth_HeroSlider::sliders"/>
        <add id="Panth_HeroSlider::slides"
             title="Manage Slides"
             module="Panth_HeroSlider"
             sortOrder="20"
             parent="Panth_HeroSlider::group"
             action="panth_heroslider/slide/index"
             resource="Panth_HeroSlider::slides"/>
        <add id="Panth_HeroSlider::settings"
             title="Configuration"
             module="Panth_HeroSlider"
             sortOrder="99"
             parent="Panth_HeroSlider::group"
             action="adminhtml/system_config/edit/section/panth_heroslider"
             resource="Panth_HeroSlider::config"/>
    </menu>
</config>
